/* HEADER > NAVIGATION */
body {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */

}

.container {
    border: 1px dotted black;
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
    width: 80%;
}

.header { 
    display: flex;
    justify-content:space-around ;
    
} 

.logo-rocket-div {
    display: flex;
    align-items: center;
}

.navigation-menu {
    display: flex;
    font-size: 23px;
    font-weight: 500;
}

/* ... Contact form styles ... */

.contact-form-div {
    height: 70%;
    margin: 50px;
    padding: 20px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    /* background: radial-gradient(circle, rgba(166,166,166,1) 0%, rgba(148,187,233,0.21332282913165268) 100%); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.first-and-last-name {
    display: flex;
    justify-content: center;
    height: 80px;
    gap: 10px;
}

.ffname, .llname {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    height: 20px;
}

textarea {
    height: 95px;
}

.contact-form-button {
    height: 40px;
    width: 100%;
    background: radial-gradient(circle, rgba(166,166,166,1) 0%, rgba(148,187,233,0.21332282913165268) 100%);

}

input, textarea {
    border-radius: 20px;
    padding: 10px;
}

.email-and-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}




/* BANNER */
.banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
    /* border: 1px solid black; */

}

.banner-copy {
    line-height: 3em;
    margin: 50px;
}


.banner > h1, h2, p {
    margin: 0;
}

.banner > div {
    /* border: 1px solid black; */
    width: 50%;
}

.banner h2 span {
    color: #A6A6A6;
}

.banner h1 {
    font-size: 1.5rem;
}

.banner h2 {
    font-size: 3rem;
}

.testimonialsBannerColMain {
    height: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 60px;
    /* border: 1px solid black; */
}

.testimonialsBannerMainHeader {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    /* border: 1px solid black; */
}

.testimonialsBannerMain {
    /* border: 1px solid black; */
    margin: 20px;
}

.logo-test {
    height: 100px;
    display: flex;
    align-items: center;
    
}

footer div {
    height: 50px;
}

.easyjet-logo {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.testimonialsBannerSub {
    /* margin: 30px; */
    height: 95%;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 20px;
    background: rgb(166,166,166);
    background: radial-gradient(circle, rgba(166,166,166,1) 0%, rgba(148,187,233,0.21332282913165268) 100%);
}

.logo {
    height: 200px;
}

.items {
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    gap: 20px;    
}

li {
    padding: 5px;
    font-weight: 600;
}

a {
    color: black;
}

.testimonialsBannerSub:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.H:hover {
    border: 1px solid #3B3937;
    border-radius: 20px;
    font-weight: 600;
    background: rgb(166,166,166);
    background: radial-gradient(circle, rgba(166,166,166,1) 0%, rgba(148,187,233,0.21332282913165268) 100%);
}

.I:hover {
    border-bottom: 1px solid #3B3937;
}

img {
    height: 50px;
}

.logo-rocket {
    font-size: 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}



/* @media only screen and (max-width: 600px) {
    .header {
        display: hidden;
    }  
  
    body {
        background-color: gold;
    }
    } */
  